/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1920px) {


}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
.main-menu ul li {
	margin-left: 20px;
}
.features-area {
	margin-top: 0;
	padding-top: 100px;
}
.slider-inner h2 {
	font-size: 50px;
}
.single-slider {
	background-size: cover;
	background-position: center;
}
.header-area {
	border-bottom: 0;
}

}

 
/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.features-area {
	margin-top: 0;
	padding-top: 100px;
}
.single-features {
	border-bottom: 1px solid #ddd;
}
.theme-bg .col-xl-4:last-child .single-features{border-bottom:0;}
.about-img {
	margin-top: 40px;
}
.subscribe-form input {
	width: 23%;
}
.team-wrapper {
	margin-bottom: 30px;
}
.header-area {
	padding: 20px 75px;
	border-bottom: 0;
}
.single-slider {
	background-size: cover;
	background-position: center;
}
.slider-inner h2 {
	font-size: 38px;
}
.slider-inner p {
	margin-bottom: 30px;
}


}

 
/* Extra small Device. */
@media (max-width: 767px) {
	
.features-area {
	margin-top: 0;
	padding-top: 100px;
}	
.single-features {
	border-bottom: 1px solid #ddd;
}
.theme-bg .col-xl-4:last-child .single-features{border-bottom:0;}
 .header-area {
	padding: 20px 45px;
	border-bottom: 0;
}
 .slider-inner h2 {
	font-size: 30px;
}
 .slider-inner p {
	margin-bottom: 30px;
	font-size: 18px;
}
 .single-slider {
	background-size: cover;
	background-position: center;
}
 .about-img {
	margin-top: 40px;
}
 .subscribe-form input {
	width: 100%;
	margin-bottom: 20px;
}
 .pricing-item {
	width: 100%;
}
 .testimonial-wrapper {
	padding: 60px 40px;
}
 .testimonial-area {
	background-size: cover;
	background-position: center center;
}
 .copyright-text {
	text-align: center;
}
 
 
}
 
/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {

}